
@font-face{
  font-family: lobster;
  src: url("Lobster_1.3.otf");
}

@font-face{
  font-family: specialelite;
  src: url("SpecialElite.ttf");
}

@font-face{
  font-family: amaticsc;
  src:url("Amatic-Bold.ttf");
}

html{
  background:linear-gradient(rgb(253,212,34), rgb(250,97,100),rgb(139,190,253)) no-repeat fixed center;

}

h1{
  font-family:specialelite;
  font-size: 70px;
  color: white;
  text-align: left;
}

#response{
  padding: 10px;
}

.movie{
  width: 251px;
  height: 375px;
  padding:10px;
}

button {
    background-color:rgb(139, 190, 293);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    font-family: amaticsc;
}
body{
  text-align: center;

}
.accordion{
  padding: 0px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: none;
  transition: 0.4s;

}
.panel{
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  font-size: 30px;
}
h2{
  font-family:lobster;
  color:rgb(199, 57, 103);
}
p{
  font-family: amaticsc;
  color: rgb(44, 64, 150);
}
h4{
  font-family: specialelite;
  color:rgb(255, 243, 137);

}
