@font-face{
  font-family: lobster;
  src: url("Lobster_1.3.otf");
}

@font-face{
  font-family: specialelite;
  src: url("SpecialElite.ttf");
}

@font-face{
  font-family: amaticsc;
  src:url("Amatic-Bold.ttf");
}

html{
  background:linear-gradient(rgb(253,212,34), rgb(250,97,100),rgb(139,190,253));
}

h1{
  font-family:amaticsc;
  font-size: 200px;
  color: white;
}
